@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap,line-clamp');
*{
    border: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: "Roboto";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2eadf;
}
.container{
    position: relative;
    width: 340px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 6px 6px rgba(red, green, blue, alpha);
    overflow: hidden;
}
/* .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.chatbox{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #efe6dd;
    z-index: 10000;

}
.chatbox::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(./dharvika.jpg);
    opacity: 0.05;
}
.chatheader{
    position: relative;
    width: 95%;
    padding: 10px;
    background: #008069;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatheader .imgcontent{
    display: flex;
    align-items: center;
    gap: 5px;
}
.chatheader .imgcontent ion-icon{
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;


}
ion-icon{
    cursor: pointer;
}
.chatheader .imgcontent .imgBx{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.chatheader .imgcontent .imgBx img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chatheader .imgcontent h3{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;
}
.chatheader .imgcontent h3 span{
    font-size: 0.7em;
    font-weight: 400;
}
.actionBtns{
    /* position: relative; */
    display: flex;
    color: #fff;
    gap: 15px;
    justify-content: end;

}
.chatbox{
    position: relative;
    width: 100%;
    height: calc(100% -120px);
    /* padding: 50px; */
    overflow-y: auto;
}
.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.message p{
    position:relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8dc;
    border-radius: 10px;
    font-size: 0.9em;
}
.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);

}
.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.my_message{
    justify-content: flex-end;
}
.frnd_message{
    justify-content: flex-start;
}
.frnd_message p{
    background: #fff;
    text-align: left;
}
.message.frnd_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);

}
.chatbox_input{
    position: relative;
    width: 100%;
    /* height: 60%; */
    background: #f0f0f0;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.chatbox_input ion-icon{
    cursor: pointer;
    font-size: 1em;
    color: #51585c;
}
.chatbox_input input{
    position: relative;
    width: 50%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1em;
}
.datefixed{
    display: flex;
    justify-content: center;
    position: sticky;
    background: #efe6dd;
    
}
